.top-10 {margin-top: 10px}
.top-15 {margin-top: 15px;}
.font{font-family: Arial Black;color: blue;}
#general{color: white;}
.center{text-align: center;}
#hp{float: left;margin: 0 15px 0 0;}
#white{font-size: 120%;color: white}
#main{margin-top: 50px;background-color: #F5F5DC;width: auto;height: 100%;max-width: 100%;min-height: 100%;margin-bottom: 0px}
#prenext{background-color: blue;color: white;text-align: center;background-size: 100px 80px;border: solid white;}
#button{background-color: #0000FF;color: white;border-radius: 25px}
#cwhite{color: white}
.highlight{color: red}
#black{color: black}
img,video,canvas{max-width: 100%;width: 100%\9;display: inline-flex;}
#top{background-color: firebrick;padding: 10px 20px;text-shadow: 0 2px 0 #999,0 3px 0 #888,0 4px 0 #777,
0 5px 0 #666,0 6px 0 #555,0 7px 0 #444,0 8px 0 #333,0 9px 7px #302314;}
#errors{padding: 10px 20px;text-shadow: 0 2px 0 #999,0 3px 0 #888,0 4px 0 #777;text-align: center;
	font-style: Segoe Print;font-size: 28px;}
#whitecolor{font-size: 120%;color: white;}
#menu{background-color: #000080;}
#body{background-color: #C0C0C0;width: auto;padding: 0px;margin: 0px;}
#ffbdy{font-family: Arial Narrow;font-size: 16px;line-height: 1.5;text-align: justify;text-justify:inter-word;}
.ascontent{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 250px;color: white;line-height: 16px
	margin-top: 2px;margin-left: 2px;-webkit-line-clamp:3;-webkit-box-orient:vertical;max-height: 32px}
.title{font-family: Arial Narrow;color: black}
#dimgray{color: #696969;font-size: 12px;}
.asac{color:blue;font-size: 13px;font-family: calibri light;line-height: 0.5;}
.blue{color: blue}
#btn{background-color: #0000FF;color: white;border: solid white}
.calibri{font-family: Times New Roman;box-shadow: 10px 10px 8px #888888;
	text-align: center;background-color: blue;color: white;border-radius: 25px;font-size: 20px;}
.astitle{font-family: calibri light;text-align: center;background-color: #1E90FF;color: white}
.titles{font-family: Times New Roman;color: blue;text-align: center}
.asc{color:blue;font-size: 16px;font-family: Times New Roman;margin-left: 50px}
.login{color: white; text-align: center;font-size: 20px}
.white{color: white}
.purple{color: purple}
.red{color: red}
.black{color: black}
.asidespan{display: flex;background-color: #87AFC7;margin-top: 1px;margin-bottom: 2px;}
.asideimg{width: 50px;height: 50px;float: left;}
.mg2px{margin: 2px;display: inline-flex;}
.tags{margin-left: 100px;font-size: 15px}
.drop{margin-top: 12px;margin-left: 5px;font-size: 12px;}

.margin5{margin: 5px}
hr.style-four{border: 0;width: 100%;background-color: blue;height: 5px}
.fa-facebook-square{color: #3b5998;}
.fa-linkedin-square{color: #1985bc;}
.fa-twitter-square{color: #1da1f2;}
.fa-google-plus-square{color: #db4437;}
.fa-pinterest-square{color: #bd081c;}
.fa-reddit-square{color: orange;}
.fa-whatsapp{color: green;}
#lightblue{background-color: lightblue;border-radius: 25px}
#left60{font-size: 12px;margin-left: 60px;font-family: Segoe UI Light}
.dad{position: absolute;width: 20px;height: 20px;border-radius: 100%;background: turquoise;animation: spin 5s infinite;transform-origin: center center}
html,body{height: 100%}
.img{width:40%;border: solid gray;padding: 5px}
.adname{color: purple;font-size: 12px;font-family: Segoe UI Semibold}
nav{position:absolute;}
.frame{padding: 5px;border: double;}
.font20{font-size: 25px}
.font14{font-size: 14px}
#container{margin-top: 50px;background-color: #F5F5DC;}
#bottom20{margin-bottom: 20px}
.pd10{padding: 10px}

/* Base Mobile Layout */
.wrap{width: 90%;margin: 0 auto;}
#main-content,#sidebar-left,#sidebar-right{width: 100%;float: left;}

/* 3 Column Layout */
@media only screen and (min-width: 1024px){
	.wrap{width: 1024px;margin: 0 auto;}
	#main-content{width: 50%;float: left;background-color: lavender;box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;}
	#sidebar-left{width: 25%;float: left;background-color: skyblue;padding: 0px;position: sticky;box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;}
	#sidebar-right{width: 25%;float: left;background-color: lightsteelblue;padding: 20px;position: sticky;box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;}
}

/* Wide Layout */
@media only screen and (min-width: 1200px){
	.wrap{width: 1140px;margin: 0 auto;}
}

/* Move Sidebar Position*/
@media only screen and (min-width: 1024px){
	.wrap,#main-content,#sidebar-left,#sidebar-right{
		position: relative;
	}

	#main-content,#sidebar-left,#sidebar-right{
		top: 0;
	}

	#sidebar-right{right: 0;}
	#sidebar-left{left: -52% /* width on #main-content */}
	#main-content{left: 24%; /* Width of #left-sidebar */}
}


/* Hoverable sidebar-left */
#sidebar-left a:hover{
	left: 0;background-color: white;
}

/* Hoverable sidebar-right */
#sidebar-right a:hover{
	left: 0;color: red;
}

/* Hoverable main-content */
#main-content a:hover{
	left: 0;color: green;
}

/* Hoverable navbar */
nav a:hover{
	left: 0;background-color: black;
}

@keyframes spin{
	0%{
		transform: translate(0,0) scale(1);
		opacity: 1;
		background-color: turquoise;
	}
	50%{
		transform: translate(0,50px) scale(.4);
		opacity: .5;
		background-color: blue;
	}
	100%{
		transform: translate(0,0) scale(1);
		opacity: 1;
		background-color: turquoise;
	}
}

@for $num from 1 through 8 {
	.dad:nth-child(#{$num}){
		left: ($num - 1) * 30px;
		animation-delay: $num * .1s;
	}
}

.box{width: 300px;height: 30px;margin: 8px;position: relative;font-family: Times Roman;text-decoration: underline;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
		-webkit-animation:repeatit 2s linear 0s infinite alternate;
		animation: repeatit 2s linear 0s infinite alternate;
	}

@webkit-keyframes repeatit{
	from{left:-50px;}
	to{left:50px;}
}

@keyframes repeatit{
	from{left:0;}
	to{left:50%;}
}

i.fa.fa-facebook{
	color:#fff;
	background-color:#3b5998;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-facebook:hover {
	background-color:#17233E;
}

i.fa.fa-whatsapp{
	color:#fff;
	background-color:green;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-whatsapp:hover {
	background-color:#17233E;
}

i.fa.fa-twitter{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-twitter:hover {
	background-color:#17233E;
}

i.fa.fa-linkedin{
	color:#fff;
	background-color:#0074A1;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-linkedin:hover {
	background-color:#17233E;
}

i.fa.fa-google-plus{
	color:#fff;
	background-color:#D64937;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-google-plus:hover {
	background-color:#17233E;
}


i.fa.fa-pinterest{
	color:#fff;
	background-color:#BD081C;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-pinterest:hover {
	background-color:#17233E;
}

i.fa.fa-reddit{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-reddit:hover {
	background-color:#17233E;
}

