/* =Reset ------------------------------------------------------------- */

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-top:0;
}
body{background:#f5f5f5}
ul{padding:0; margin:0; list-style:none}
a{text-decoration:none; color:#2f2f2f}
a:hover{color:#646464; text-decoration:none}
a:focus{outline:none; text-decoration:none}
h1, h2, h3, h4, h5, h6{font-family:'Oswald',sans-serif}
h2{line-height:23px;}
img{border:none;}
img:hover{opacity:0.75;}
img{width: auto;max-width: 100%;height: auto;}

.font{
	font-family: Arial Black;
	color: blue;
}
#general{
	color: white;
}
.center{
	text-align: center;
}
#hp{
	float: left;
	margin: 0 15px 0 0;
}
#white{
	font-size: 120%;
	color: white;
}
#main{
	margin-top: 50px;
	background-color: #F5F5DC;
	width: auto;
	height: 100%;
	max-width: 100%;
	min-height: 100%;
	margin-bottom: 0px;
}
.blog-post h6{
	text-align: center;
	font-family: Times New Roman;
	font-size: 12px;
}
#prenext{
	background-color: blue;
	color: white;
	text-align: center;
	background-size: 100px 80px;
	border: solid white;
	font-size: 10px;
}
#errors{
	padding: 10px 20px;
	text-shadow: 0 2px 0 #999,0 3px 0 #888,0 4px 0 #777;
	text-align: center;
	font-style: Segoe Print;
	font-size: 28px;
}
.title{
	font-family: Arial Narrow;
	color: black;
}
.blue{
	color: blue;
}
.titles{
	font-family: Times New Roman;
	color: blue;
	text-align: center;
}
.login{
	text-align: center;
	font-size: 20px;
}
.white{
	color: white;
}
.purple{
	color: purple;
}
.red{
	color: red;
}
.black{
	color: black;
}
.drop{
	margin-top: 12px;
	margin-left: 5px;
	font-size: 12px;
}
hr.style-four{
	border: 0;
	width: 100%;
	background-color: blue;
	height: 5px;
}
#lightblue{
	background-color: lightblue;
	border-radius: 25px;
}
.dad{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: turquoise;
	animation: spin 5s infinite;
	transform-origin: center center;
}
.frame{padding: 5px;
	border: double;
}
.headings h2{
	font-family: Times New Roman;
	box-shadow: 10px 10px 8px #888888;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 25px;
	font-size: 20px;
	text-transform: uppercase;
}
.headings{
	margin-top: 10px;
	margin-bottom: 10px;
}
.page-main .headings h1{
	font-family: Times New Roman;
	box-shadow: 10px 10px 8px #888888;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 25px;
	font-size: 20px;
	text-transform: uppercase;
}
.page-extention .headings h2{
	font-family: Times New Roman;
	box-shadow: 10px 10px 8px #888888;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 25px;
	font-size: 20px;
	text-transform: uppercase;
}
.header{
	background-image: url('/static/santonamedia.png');
	background-size: cover;
	background-position: center;
	position: relative;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.6);
}
.description{
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%,-55%);
	text-align: center;
}
.description h1{
	color: #6ab446;
}
.description p{
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

/* ---- navigation ---*/
.navbar{
	background-color: #000080;
}
.navbar .nav-link, .navbar-brand{
	color: #fff;
	cursor: pointer;
}
.navbar .nav-link{
	margin-right: 1em !important;
	color: white;
	font-size: 13px;
	font-family: Times New Roman;
}
.navbar .nav-link:hover{
	color: #f97300;
}

.navbar-collapse{
	justify-content: flex-end;
}
.navbar-toggler{
	background-color: #fff !important;
}
.navbar .dropdown-item{
	text-transform: uppercase;
	font-size: 14px;
	font-family: Times New Roman;
}
.navbar .dropdown-menu a:hover{
	background-color: white;
	color: black;
}
.features{
	margin-top: 50px;
	padding: 0em;
	position: relative;
}
.page-main h1{
	color: #333;
	font-size: 2.0rem;
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: Arial Black;
}
.page-extention h2{
	color: #333;
	font-size: 2.0rem;
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: Arial Black;
}
.left-ten{
	margin-left: 10px;
}
.left-ten p{
	font-family: Arial Narrow;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	text-justify:inter-word;
}
.left-ten .created-time{
	font-family: Calibri Light;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.left-ten .created-time a{
	color: black;
}
.left-ten .created-time span{
	color: purple;
}
h1 .post-link{
	color: black;
	text-decoration: none;
}
h1 .post-link:hover{
	color: green;
}
h2 .post-link{
	color: black;
	text-decoration: none;
}
h2 .post-link:hover{
	color: purple;
}
.main-content{
	background-color: lavender;
	box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;
}
.main-content img{
	height:350px%; 
	width:450px;
	box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
	display: block;
	padding: 10px 20px;
}
.features .blog-post p{
	font-family: Helvetica Neue;
	font-size: 20px;
	text-align: justify;
}
.main-content .share-title{
	font-size: 12px;
	color: purple;
	text-align: center;
}
.share{
	text-align: center;
}
.main-content .share span{
	margin: 5px;
}
.main-content .comment-form h5{
	color: blue;
	text-align: left;
}
.main-content .prev-next h5{
	font-family: Lucida Sans;
	color: #333;
	font-size: 15px;
}
.main-content .box{
	font-size: 15px;
	text-decoration: none;
	font-family: Arial Black;
}
.private-policy{
	margin-left: 5px
}
.private-policy ul li{
	font-size: 15px;
	text-align: justify;
	margin-left: 10px;
}
.sidebar-right{
	position: -webkit-sticky;
	padding: 10px;
	background-color: lavender;
	box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;
	left: 0;
}
.sidebar-right h4{
	font-family: Oswald;
	text-align: center;
	background-color: #1E90FF;
	color: white;
	text-transform: uppercase;
	width: 100%;
	font-size: 16px;
}
.sidebar-right .sidebar-module span{
	color: purple;
	font-family: Times New Roman;
	font-size: 15px;
}
.sidebar-right .dropdown-menu a{
	text-transform: uppercase;
	font-size: 13px;
}
.sidebar-right .dropdown-menu a:hover{
	background-color: green;
}

.sidebar-right .tag-aside{
	background-color: lightblue;
}
.sidebar-right .tag-aside a{
	text-transform: uppercase;
	font-size: 16px;
	color: black;
	margin-left: 20px;
	text-decoration: none;
}
.sidebar-right .tag-aside a:hover{
	background-color: white;
	color: orange;
}
.sidebar-right .sidebar-header{
	display: inline-block;
	width: 100%;
	background-color: lightgray;
	line-height: 1.0rem;
}
.sidebar-right .sidebar-header a{
	color: black;
	line-height: 1.5rem;
	font-size: 14px;
	font-family:"Oswald",sans-serif;
	margin-right: 5px; 
}
.sidebar-right .sidebar-header a:hover{
	color: green;
	text-decoration: none;
}
.sidebar-left{
	background-color: #455dc7;
	position: sticky;
	top: 0;
	box-shadow:#000000 4px 4px 8px, #4d4d4d -4px -4px 8px;
	transition: all 0.4s;
	display: block;
	overflow-y: auto;
}
.sidebar-left a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
}
.sidebar-left a:hover{
	color: green;
	background-color: lightblue;
}
.sidebar-left h3{
	text-align: center;
	color: white;
}

@media (max-width: 768px){
	.sidebar-left{
		margin: -250px;
	}
	h1 .post-link{
		font-size: 15px;
	}
	h2 .post-link{
		font-size: 15px;
	}
	body{
		padding: 5px;
	}
	.main-content img{
		height: 100%;
		width: 100%;
	}
	.main-content video{
		height: 100%;
		width: 100%;
	}
	.responsive{
		width: 100%;
		height: 100%;
	}
}
@media only screen and (max-width: 700px){
	.responsive{
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media only screen and (max-width: 500px){
	.responsive{
		width: 100%;
	}
}
@media screen and (max-width:992px){
	body{
		background-color: white;
	}
}
@media screen and (max-width: 600px){
	body{
		background-color: gray;
	}
	i.fa.fa-facebook{
		text-align: center;
	}
	i.fa.fa-twitter{
		text-align: center;
	}
}
@media screen and (max-width:800px){
	.sidebar-right, .main-content{
		width: 100%; /* The width is 100%. when the viewport is 800px or smaller */
	}
}
.main-content .gray{
	background-color: grey;
	border-radius:4px;
	padding-top:1%;
	margin-bottom: 0px
}
.main-content .gray p,h5{
	text-align: center;
	color: white;
	font-size: 16px;
}
.main-content .tags{
	padding: 20px;
}
.main-content .tags a{
	margin: 5px;
	font-size: 15px;
	display: inline-flex;
	text-decoration: none;
}
.main-content .tags strong{
	font-size: 12px;
}
.figcaption{
	color: gray;
	font-size: 16px;
}
.newsletter{
	padding: 10px;
}
.footer{
	background-color: #000080;
	height: auto;
	width: auto;
	color: white;
	padding: 20px;
}
.footer li a{
	color: white;
	margin-left: 150px;
}
.footer li a:hover{
	color: red;
}

.latest_post{float:left; display:inline; width:100%}
.latest_post > h2{background:none repeat scroll 0 0 #151515; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; margin-top:5px; font-weight:400; margin-bottom:10px; margin-left:0; padding:0; position:relative; text-align:center; text-transform:uppercase}
.latest_post > h2 span{padding:4px 10px}
.latest_postnav{height:auto !important; margin-top:5px;margin-right: 10px;}
.latest_postnav li{margin-bottom:10px; float:left; width:100%}
.latest_post_container{display:inline; float:left; height:auto; position:relative; width:100%}
.latest_post_container:hover #prev-button, .latest_post_container:hover #next-button{display:block}
.media-left > img{height:70px; width:90px}

@keyframes spin{
	0%{
		transform: translate(0,0) scale(1);
		opacity: 1;
		background-color: turquoise;
	}
	50%{
		transform: translate(0,50px) scale(.4);
		opacity: .5;
		background-color: blue;
	}
	100%{
		transform: translate(0,0) scale(1);
		opacity: 1;
		background-color: turquoise;
	}
}

@for $num from 1 through 8 {
	.dad:nth-child(#{$num}){
		left: ($num - 1) * 30px;
		animation-delay: $num * .1s;
	}
}

.box{
	width: 300px;
	height: 30px;
	margin: 8px;
	text-transform: uppercase;
	position: relative;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
	-webkit-animation:repeatit 2s linear 0s infinite alternate;
	animation: repeatit 2s linear 0s infinite alternate;
	}

@webkit-keyframes repeatit{
	from{left:-50px;}
	to{left:50px;}
}

@keyframes repeatit{
	from{left:0;}
	to{left:50%;}
}

i.fa.fa-facebook{
	color:#fff;
	background-color:#3b5998;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-facebook:hover {
	background-color:#17233E;
}

i.fa.fa-whatsapp{
	color:#fff;
	background-color:green;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-whatsapp:hover {
	background-color:#17233E;
}

i.fa.fa-twitter{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-twitter:hover {
	background-color:#17233E;
}

i.fa.fa-linkedin{
	color:#fff;
	background-color:#0074A1;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-linkedin:hover {
	background-color:#17233E;
}

i.fa.fa-google-plus{
	color:#fff;
	background-color:#D64937;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-google-plus:hover {
	background-color:#17233E;
}


i.fa.fa-pinterest{
	color:#fff;
	background-color:#BD081C;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-pinterest:hover {
	background-color:#17233E;
}

i.fa.fa-reddit{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-reddit:hover {
	background-color:#17233E;
}

i.fa.fa-bitbucket{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-bitbucket:hover {
	background-color:#17233E;
}

i.fa.fa-github{
	color:#fff;
	background-color:lightblue;
	width:30px;
	height:30px;
	line-height:30px;
        font-size: 16px;
	border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
        -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-ms-transition:0.5s all;
}

i.fa.fa-github:hover {
	background-color:#17233E;
}


#footer{display:inline; float:left; width:100%; margin-bottom:20px;}
#footer li a{color: white;line-height: 1.5rem;font-size: 12px;}
.footer_top{background-color:navy; color:#ddd; display:inline; float:left; padding:10px 30px 48px; width:100%}
.footer_widget{display:inline; float:left; width:100%; min-height:310px}
.footer_widget > h2{border-bottom:3px solid #666; font-family:Oswald,arial,Georgia,serif; font-size:16px; padding:10px 0; text-transform:uppercase}
.tag_nav{}
.tag_nav li{}
.tag_nav li a{border-bottom:1px solid #ddd; color:#ccc; display:block; padding:6px 6px 6px 0; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.tag_nav li a:hover{padding-left:10px}
.footer_bottom{float:left; display:inline; width:100%; padding:10px 30px; background-color:#303030; color:#ccc}
.copyright{padding-top:5px; font-size: 16px;color: #ccc;}
.copyright a{color: #ccc;}
.developer{padding-top:5px; color: white;font-size: 16px;}

